.card-holder {
    height: 200px;
    width: 150px;
}

.card-holder:active {
    transform: scale(1.05);
}

@media (min-width: 1000px){
    .card-holder:hover {
        transform: scale(1.05);
    }
}